# Logs
logs
*.log

.env

# Runtime data
pids
*.pid
*.seed

# Coverage directory used by tools like istanbul
coverage
.eslintcache

# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules

# OSX
.DS_Store

release/app/dist
release/build
.erb/dll

.idea
npm-debug.log.*
*.css.d.ts
*.sass.d.ts
*.scss.d.ts


# external unwanted files -> files which are too big
external/openvino_2025/
external/gemma-2-9b-it-int4-ov/
external/build/
external/python/sd_env

# Moved to AiResources folder
AiResources/
resources/AiResources/
