@keyframes moveBackground {
  0% {
    background-size: 100% 100%;
  }
  10% {
    background-size: 120% 80%;
  }
  20% {
    background-size: 190% 140%;
  }
  30% {
    background-size: 130% 110%;
  }
  40% {
    background-size: 150% 120%;
  }
  50% {
    background-size: 180% 100%;
  }
  60% {
    background-size: 220% 80%;
  }
  70% {
    background-size: 100% 50%;
  }
  80% {
    background-size: 120% 70%;
  }
  90% {
    background-size: 110% 90%;
  }
  100% {
    background-size: 100% 100%;
  }
}
